.summary #Ace {
    background-color: #faf5f6;
}

.summary #address {
    background-color: #fff;
}

.summary #NextMove {
    background-color: linear-gradient(180deg, #6C54FF 0%, #AD00FF 100%);
}

.summary #PickUp {
    border: none;
    border-right: 1px solid #e4e2e2;
}

.summary .line {
    border-top: 1px solid #e4e2e2;
}

.summary .row>* {
    padding-left: 0;
    padding-right: 0;
}