
.invoice {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #ffffff;
  }
  
  .invoice h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .invoice strong {
    font-weight: bold;
  }
  
  .invoice table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .invoice th,
  .invoice td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .invoice tfoot td {
    font-weight: bold;
    border-top: 2px solid #ccc;
  }
  
  .invoice button {
    margin-top: 20px;
    
  }

  #BackToHome{

    text-decoration: none;
  }
  


  .invoice .pick{
    float: left;
  }

  .invoice .drop{
    float: right;
  }
  
  