.Success{
    background-color: #faf5f6;
}

.Success .checkmark{
   font-size: 50px;
   color: #4D96ED;
}

.Success #button{
    background-color: #1BC24A;
    border-radius: 30px;
}

.Success .circle {
    width: 100px;
    height: 100px;
    background-color: #fff; 
    border-radius: 50%;
    border: 1px solid #d6cbcb;
  }
  
  .Success .text {
    margin: auto;
  }